html, body {
    width: 100%;
}

.container-fluid {
    padding:0;
}

img.logo {
    width: 180px;
}

.sign {
    margin: 60px auto;
}

.sign .btn {
    display: inline-block;
    width: 150px;
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 5px;
    margin: 5px 5px 30px 5px;
}

.sign h1:after {
    content: "";
    display: block;
    width: 350px;
    border-bottom: 5px solid #04005E;
    margin: 25px auto 10px auto;
}

h6.loc:after {
    content: "";
    display: block;
    width: 500px;
    border-bottom: 5px solid #04005E;
    margin: 25px auto 10px auto;
}

.footer .btn {
    width: 150px;
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 5px;
    margin: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.purple {
    background-color: #EC56FC;
}

.pink {
    background-color: #FF1F78;
}

.problem {
    padding: 90px 0;
    background-color:#fafafa; 
    margin:auto;
}

.problemIcon {
    margin-bottom:35px; 
    color: #404040;
    filter: drop-shadow(5px 5px 5px #000);
    animation-name: up;
    animation-duration: 2s;
}

@keyframes up {
    from {transform:translateY(35px);}
    to {transform:translateY(0px);}
}

.problemSub {
    margin-bottom: 0px;
}

.problemTitle > b {
    font-size:1.5em;
}

.footer .fa-arrow-circle-up {
    font-size: 3em;
    margin: 30px auto;
    color: rgba(100, 100, 100, 50%);
}
.footer .fa-arrow-circle-up:hover {
    color: rgba(100, 100, 100, 80%);
    cursor: pointer;
}

.solution {
    margin: 60px auto;
}

.carousel {
    position: relative;
    height: 215px;
    
}

.carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

.carousel img {
    width: 150px;
    transition: width 1s;
    filter: drop-shadow(5px 5px 5px #000);
}

.prev {
    z-index: 5;
    left: 35%;
    transform: translate(-50%, 50px);
}

.prev img {
    width: 100px;
}

.selected {
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0px);
}

.next {
    z-index: 4;
    left: 65%;
    transform: translate(-50%, 50px);
}

.next img {
    width: 100px;
}

.hiddenimg {
    z-index: 0;
    left: 50%;
    transform: translate(-50%, 50px)
}

.hiddenimg img {
    width: 100px;
}