html, body {
    width: 100%;
    background-color: #F4F4F4;
}
body {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.container-fluid {
    padding:0;
}

.purple {
    background-color: #F391FD;
}
.purple:hover {
    background-color: #EC56FC;
}
.pink {
    background-color: #FF79AF;
}
.pink:hover {
    background-color: #FF1F78;
}

.logo > img {
    filter: drop-shadow(3px 3px 3px #404040);
    width: 200px;
    display: inline-block;
    transform: translateY(-25px);
}

.logo > h1 {
    font-family: ghanachoco;
    display: inline-block;
    transform: translateY(11px);
}

.logo {
    display: inline-block;
    padding: 0px 20px;
}

.buttons {
    margin-right: 30px;
    display: inline-block;
}

.sign {
    margin: 30px auto;
}

.sign .btn {
    display: inline-block;
    width: 130px;
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 5px;
    margin: 5px 5px 20px 5px;
    filter: drop-shadow(5px 5px 5px #404040);
}

.slogan {
    margin: 30px 0px 30px 30px;
    font-family: ghanachoco;
    font-size: 6.5em;
    text-shadow: 5px 5px 5px #4f4f4f;
}

.jewel {
    display: inline-block;
    color: #8F76CC;
    animation-name: up;
    animation-duration: 2s;
}

.problem {
    padding: 30px 0;
    margin:auto;
}

.problemIcon {
    margin-bottom:35px; 
    color: #404040;
    filter: drop-shadow(5px 5px 5px #000);
    animation-name: up;
    animation-duration: 2s;
}

@keyframes up {
    from {transform:translateY(40px);}
    to {transform:translateY(0px);}
}

.problemSub {
    margin-bottom: 0px;
}

.problemTitle > b {
    font-size:1.5em;
}

.solution {
    padding: 30px 0px;  
}

.solution h3 strong {
    font-family: ghanachoco;
    color: #8F76CC;
}

.images {
    position: relative;
    height: 515px;
    margin-top: 20px;
}
.sol img[alt="goal_set"] {
    position: absolute;
    left: 5%;
    animation-duration: 0.5s;
    animation-name: up;
}
.sol img[alt="goal"] {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 1s;
    animation-name: goalImageUp;
}
@keyframes goalImageUp{
    0% {transform:translate(-50%, 50px);}
    33% {transform:translate(-50%, 50px);}
    100% {transform:translate(-50%, 0px);}
}
.sol img[alt="monthly"] {
    position: absolute;
    top: 200px;
    right: 5%;
    animation-duration: 1.5s;
    animation-name: monthlyImageUp;
}
@keyframes monthlyImageUp {
    0% {transform:translateY(50px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(0px);}
}

.carousel {
    position: relative;
    height: 215px;
    
}

.carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

.carousel img {
    width: 150px;
    transition: width 1s;
    filter: drop-shadow(5px 5px 5px #000);
}

.prev {
    z-index: 5;
    left: 35%;
    transform: translate(-50%, 50px);
}

.prev img {
    width: 100px;
}

.selected {
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0px);
}

.next {
    z-index: 4;
    left: 65%;
    transform: translate(-50%, 50px);
}

.next img {
    width: 100px;
}

.hiddenimg {
    z-index: 0;
    left: 50%;
    transform: translate(-50%, 50px)
}

.hiddenimg img {
    width: 100px;
}

.PDCA p{
    padding-top: 30px;
}

.footer > img {
    filter: drop-shadow(3px 3px 3px #404040);
    width: 180px;
}

.footer .fa-arrow-circle-up {
    font-size: 3em;
    margin: 30px auto;
    color: rgba(100, 100, 100, 50%);
}
.footer .fa-arrow-circle-up:hover {
    color: rgba(100, 100, 100, 80%);
    cursor: pointer;
}

h6.loc:after {
    content: "";
    display: block;
    width: 500px;
    border-bottom: 5px solid #04005E;
    margin: 25px auto 10px auto;
}

.footer .btn {
    width: 150px;
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 5px;
    margin: 5px;
}