/* Styles go here */
body {
  padding-top: 52px;
}

hr {
  margin:5px 0;
}

/* this is only to style the sidebar - you can make the sidebar look any way you want */
.sidebar {
  padding: 0px;
  background-color: #04005E;
  border-right: 1px solid #eee;
}

.navbar-toggle {
    padding: 5px 5px;
}

.sidebar.sidebar-right .time {
    overflow-y: auto;
    overflow-x: hidden;
}

.goal, .report {
  overflow-y: auto;
  overflow-x: hidden;
  height: 44.2%;
}

.goal a, .report a, .goal a:visited, .report a:visited{
  color: white;
}

.goal a:hover, .report a:hover {
  color: #04005E;
}

.goal::-webkit-scrollbar, .report::-webkit-scrollbar, .sidebar.sidebar-right::-webkit-scrollbar {
  width: 6px;
}
.goal::-webkit-scrollbar-track, .report::-webkit-scrollbar-track, .sidebar.sidebar-right::-webkit-scrollbar-track {
  background-color: transparent;
}
.goal::-webkit-scrollbar-thumb, .report::-webkit-scrollbar-thumb, .sidebar.sidebar-right::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.goal::-webkit-scrollbar-button, .report::-webkit-scrollbar-button, .sidebar.sidebar-right::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.setting {
  background-color: #8181C1;
  height: 25px;
}

.setting a, .setting a:visited{
  color: white;
}

.fa-2 {
  font-size: 1.3em;
  margin: 3px;
}

.right-header {
    margin: 10px 0;
    color: white;
}

table {
    margin: 10px auto;
}

th {
    text-align: center;
    color : white;
    border: 8px solid #04005E;
}

td {
    width: 60px;
    background-color: gray;
    border: 8px solid #04005E;
}

input {
    border: 1px solid #fff;
    border-radius: 30px;
}