body {
  padding-top: 51px;
  height: 100%;
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

.no-js {
    display:none;
}

/* navbar-top */

span.navbar-brand a {
    color: #777;
    text-decoration: none;
}

span.navbar-brand a:visited {
    color: #777;
    text-decoration: none;
}

span.navbar-brand a:hover {
    color: #777;
    text-decoration: none;
}

.navbar-toggle {
    padding: 5px 5px;
}

/* font-size */

.fa-2 {
  font-size: 1.3em;
  margin: 3px;
}


/* sidebar */

.sidebar {
  padding: 0px;
  background-color: #04005E;
}


/* sidebar - left */

hr {
  margin:5px 0;
}

.goal, .report {
  overflow-y: auto;
  overflow-x: hidden;
  height: 44.2%;
}

.list-header {
    color: white;
}

.goal a, .report a, .goal a:visited, .report a:visited{
  color: white;
}

.goal a:hover, .report a:hover {
  color: #04005E;
}

.setting {
  position:absolute;
  right:0px;
  bottom:52px;
}

.setting a, .setting a:visited{
  color: white;
}


/* sidebar - right */

.right-header {
    margin: 10px 18px;
    color: white;
}

.sidebar.sidebar-right {
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

.schedule_add:hover {
    cursor: pointer;
}

.checks input.checkbox1{
    width: 1.25em;
    height: 1.7em;
    /*vertical-align: middle;*/
    margin: -3px 0 0 0;
    vertical-align: -2px;
}

.checks {
    font-size: 1.125em;
    height: 1.7em;
}

#routine { text-align: center; }
.chartWrapper {
    width: 100%;
    height: 335px;
    position: relative;
    
}
.chart { 
    position: relative;
    clear: both;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.backChart{
    width: 100%;
    top: 50px;
    position: absolute;
}

.tracker-legend{
    margin-top: 80px;
}

.legend-time {
    text-align: right;
    border-right: 2px solid;
}

.legend-name {
    text-align: left;
}

.schedule-list {
    margin : 20px;
}

@media (max-width: 767px){
.legend-time, .legend-name {
    text-align: center;
    border-right: 0;
}
}

.schedule {
    clear: both;
    margin: 80px 30px 30px 30px;
}

.schedule_form {
    
    text-align: left;
}

.schedule_form select {
    width: 60%;
    color: #bbb;
    margin: 10px 5px;
}

.schedule_form input[type='time'] {
    color: #bbb;
    height: 20px;
    margin: 10px 5px;
}

.schedule_form input[type='submit'] {
    font-size: 1.3em;
    border:none;
    color: white;
    /* 배경 투명하게 */
    background-color: transparent;
}
#submit_schedule{
    
    color: white;
    font-size: 20px;
    text-decoration: none;
   
}

#scheduleList a{
    text-decoration-line: none;
    color: white;
    font-size: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#scheduleList a:hover {
    cursor: pointer;
}

#scheduleList span{
    color: white;
    font-size: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
    
}
.saveSchedule i {
    
    font-size: 20px;
}
.saveSchedule a{
    text-decoration-line: none;
    color: white;
    font-size: 15px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.saveSchedule a:hover {
    cursor: pointer;
}

#saveScheduleBtn{
    
    color: white;
    font-size: 20px;
    text-decoration: none;
   
}
.routineSelect {
    display: inline;
    text-align: left;
}
.routineSelect #routine {
    text-align: left;
}

.routineSelect input[type="text"]{
    margin: 10px 5px;
    color: #bbb;
    height: 20px;
    padding: 0px;
}

/* scrollbar design */

.goal::-webkit-scrollbar, .report::-webkit-scrollbar, .sidebar.sidebar-right::-webkit-scrollbar {
  width: 6px;
}
.goal::-webkit-scrollbar-track, .report::-webkit-scrollbar-track, .sidebar.sidebar-right::-webkit-scrollbar-track {
  background-color: transparent;
}
.goal::-webkit-scrollbar-thumb, .report::-webkit-scrollbar-thumb, .sidebar.sidebar-right::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.goal::-webkit-scrollbar-button, .report::-webkit-scrollbar-button, .sidebar.sidebar-right::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}


/* weekly Report Css start */

#weekButton a {
    font-size: 30px;
    color: black;
    text-decoration:none
}

#weekButton {
    text-align: right;
}
#calender {
    padding: 15px;
    padding-right: 30px;
    height: 200px;
    border:5px solid;
    margin: 10px;
    border-radius: 20px;
    
}

#image {
    text-align: center;
    padding: 5px;
    height: 200px;
    border:5px solid;
    margin: 10px;
    border-radius: 20px;
}

#score {

    padding: 15px;
    text-align: center;
    padding-top: 80px;
    height: 200px;

}

#score span {

    font-size: 20px;
    
}

#score input {

    margin-top: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 100px;
    background-color: transparent;

}
#score input:focus {

    outline: none;
}
.bottom {
    text-align: center;
}
#good {
    box-sizing: border-box; 
    padding: 10px;
    border:5px solid;
    border-radius: 20px;
    border-color: #d2c5e1;
    background-color: #d2c5e1;
    margin: 10px;
    
}
#good p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}

.writeEval textarea{
    width:100%;
    height:150px;
    border: none;
    font-size: 15px;
    resize: none;
    background-color: transparent;

}
.writeEval textarea:focus{

     outline: none;

}

#bad {
    box-sizing: border-box; 
    padding: 10px;
    border:5px solid;
    border-color: #d2c5e1;
    background-color:#d2c5e1;
    border-radius: 20px;
    margin: 10px;
    
    
}

#bad p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}


.year-month {
    font-size: 20px;
    text-align: center;
}



.dates {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
   
}

.date, .preDate, .nextDate {
    width: calc(100% / 7);
    padding: 3px;
    text-align: right;

}

.term {
    background-color: #d2c5e1;
    
}

.checkFailure {
    padding: 5px;
    margin-left: 25px;
    
    
}
.checkFailure #labels{

    border:2px solid;
    padding: 10px;
    
}
.checkFailure label {
    

    display: inline-block;
    width: 150px;
    line-height: 30px;
    margin-left: 5px;
    
    
}

/* Weekly Report css end */


/* Monthly Report css start */


#grade {

    padding: 10px;
    margin-bottom: 5px
}
#grade p {
    font-size: 20px; 
    margin: 10px;
}
#grade span {
    
    font-size: 20px;
    border-bottom: 3px solid;
}


#routineChart {
    margin-top: 5px;
    margin-bottom: 30px;
}

#fail{
    padding: 10px;
    text-align: center;
    
}
#fail a {
    display: inline-block;
    width:80%;
    height: 30px;
    background-color: #560a86;
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;

}


#fail p:nth-child(1){
    font-size: 20px;
    font-weight: bold;

    
}
#fail p:nth-child(2){
    font-size: 15px;
    
}
#fail p:nth-child(3){
    font-size: 15px;
    
}
#success{
    padding: 10px;
    text-align: center;
    
    
}

#success a{
    display:inline-block;
    width:80%;
    height: 30px;
    padding: 5px;
    background-color: #ef6d79;
    color: white;
    font-size: 15px;
    text-decoration:none;

}
#success p:nth-child(1){
    font-size: 20px;
    font-weight: bold;

    
}
#success p:nth-child(2){
    font-size: 15px;
    
}
#success p:nth-child(3){

    font-size: 15px;
    
    
}
#routineChartBtn{
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    
    
}
#routineChartBtn a, routineChartBtn span{
    text-decoration: none;
    width: 50px;
    font-size: 15px;
    display: inline-block;
    color: black;
    text-align: center;

    
 
}

#failureChart {
    padding-left: 10px;
    margin-top: 10px; 
    
}

#failureChart canvas{

    margin: 0 auto;

}

#customLegend {
    position: absolute;
    top: 62px;
    left: 600px;
    
}
#customLegend ul li {
    list-style:none;
    margin: 10px 0;
    
}
#customLegend ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

#monthChart {
    padding-left: 10px;
}

#monthChart canvas{
    margin: 0 auto;
}



/* Monthly Report css end */


/* goal css start */
.cart {
    color: #3D3D3D; 
}
@media (min-width: 760px){
.cart{ width: 550px; } /* 모바일 화면에 맞춰서 변하는거.. 슬쩍.. 넣어봄 */
}
@media (min-width: 1200px){
.cart{ width: 680px; }
}
            
.incart{
    padding-left: 5px;
    padding-bottom: 5px;               
}

.modi_form {
    display: none;
}

.additional_space {
    margin-top: 40px;
}
#delete {
    border-color: #444;
    border-radius: 50%;
    background-color: #444;
    color: #fff;
    min-width: 25px;
    min-height: 25px;
    margin-left: 5px;
}

#delete:hover {
    background-color: #111;
}

.con{
    background-color: white;
    margin-left: 5px;
    margin-top: 5px;
    width: 38px;
    height: 35px;
            }
            
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.colors{
    text-align: center;
    margin: 10px;
}

.g_btn{
    background-color: #fff;
    border: 1px solid #04005E;
    margin-left: 5px;
}

.s_btn{
    background-color:transparent;
    border: 0.5px solid gray;
    margin-left: 5px;  
}
/**********************************/
.goalNameZone {
    margin-top: 20px;
}
#goalName {
    width: 50%;
    margin: 7px 0;
}
.goalPrint > span {
    margin: 3px 0;
}
.routinePrint, .routinePlus {
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
.routineEdit {
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.routineName {
    margin: 20px 0;
}
.routineIcon {
    margin-top: 12px;
    margin-right: 15px;
    min-width: 55px;
}
 /* goal css end */


/* goal_set css start */

#between {
  border-top: 4px double #777;
  text-align: center;
  overflow: visible;
  margin: 45px 0;
}

#between:after {
  content: '\002764';
  display: inline-block;
  position: relative;
  top: -13px;
  padding: 0 10px;
  color: #777;
  font-size: 18px;
}

.goal_set_form input[id="goal_name"]{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.goal_set_form input[id="plus_btn"] {
    width: 84%;
    margin:0 8%;
    border-radius: 5px;
    border: 0px;
    background-color: #61019A;
    color: #f2f2f2;
    font-weight: 800;
}

.goal_set_form input[class="routine_name"] {
    width: 75%;
    margin-bottom: 10px;
}

.goal_set_form input[type="text"]:focus {
    outline: none;
}

.goal_set_form input[type="text"], .goal_set_form input[type="date"]{
    background-color:transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #888;
}

.goal_set_form input[type="radio"], .goal_set_form input[type="checkbox"] {
    display: none;
}

.goal_set_form input[type="radio"] + label {
    display: inline-block;
   border: 1px solid #777;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: normal;
}

.goal_set_form input[type="checkbox"] + label {
    display: inline-block;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: normal;
}

.goal_set_form input[type="radio"]:checked + label, .goal_set_form input[type="checkbox"]:checked + label {
  border: 1px solid #61019A;  
  background-color: #61019A;
  color: #f2f2f2;
}


/* goal_set css end */




/* example css start */

.example-img {
    margin: 40px 0;
}

/* example css end */



/* bottom.php css start */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contents-wrap {
   min-height:84%;
   position:relative;
}
.space {
    height: 50px;
}
footer {
    min-width: fit-content;
    min-height: fit-content;
   background:#F8F8F8;
   color: #969696;
   padding-top:10px;
}

.logout, #bg_mode, .github {
    color: #969696;
    text-decoration: none;
}

.logout:hover, #bg_mode:hover, .github:hover {
    color: #969696;
    text-decoration: none;
}

.logout:valid, #bg_mode:valid, .github:valid {
    color: #969696;
    text-decoration: none;
}

.dark footer p {
    color: #969696;
}

.dark {
    background: #343434;
    color: #bbb;
}

.dark input[type="text"], .dark label, .dark p {
    color: #bbb;
}


.foot_menu {
    width: 100%;
}

/* bottom.php css end */


/* button design start */
.word_2_btn {
    width: 50px;
    height : 28px;
    padding : 3px 8px;
    margin: 0 2px;
}

.word_4_btn {
    width: 80px;
    height : 28px;
    padding: 3px 8px;
    margin: 0 3px;
}

.bg_purple_btn {
    background-color: #61019A;
    color: #f2f2f2;
}

.bg_gray_btn {
    background-color: #EFEFEF;
    color: #111;
}

.bg_indigo_btn {
    background-color: #04005E;
    color: #f2f2f2;
}

.round_btn {
    border: none;
    border-radius: 5px ;
}

/* button design end */
