body {
  padding-top: 51px;
  height: 100%;
}

/* navbar-top */

span.navbar-brand a {
    color: #777;
    text-decoration: none;
}

span.navbar-brand a:visited {
    color: #777;
    text-decoration: none;
}

span.navbar-brand a:hover {
    color: #777;
    text-decoration: none;
}

.navbar-toggle {
    padding: 5px 5px;
}

/* font-size */

.fa-2 {
  font-size: 1.3em;
  margin: 3px;
}


/* sidebar */

.sidebar {
  padding: 0px;
  background-color: #04005E;
}


/* sidebar - left */

hr {
  margin:5px 0;
}

.goal, .report {
  overflow-y: auto;
  overflow-x: hidden;
  height: 44.2%;
}

.list-header {
    color: white;
}

.goal a, .report a, .goal a:visited, .report a:visited{
  color: white;
}

.goal a:hover, .report a:hover {
  color: #04005E;
}

.setting {
  position:absolute;
  right:0px;
  bottom:52px;
}

.setting a, .setting a:visited{
  color: white;
}


/* sidebar - right */

.right-header {
    margin: 10px 0;
    color: white;
}

.sidebar.sidebar-right {
    overflow-y: auto;
    overflow-x: hidden;
}

input.time {
    border: 1px solid #fff;
    border-radius: 5px;
}

.time {
    margin: 10px auto;
}

.time th {
    text-align: center;
    color : white;
    border: 8px solid #04005E;
}

.time td {
    width: 60px;
    background-color: gray;
    border: 8px solid #04005E;
}


/* scrollbar design */

.goal::-webkit-scrollbar, .report::-webkit-scrollbar, .sidebar.sidebar-right::-webkit-scrollbar {
  width: 6px;
}
.goal::-webkit-scrollbar-track, .report::-webkit-scrollbar-track, .sidebar.sidebar-right::-webkit-scrollbar-track {
  background-color: transparent;
}
.goal::-webkit-scrollbar-thumb, .report::-webkit-scrollbar-thumb, .sidebar.sidebar-right::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
.goal::-webkit-scrollbar-button, .report::-webkit-scrollbar-button, .sidebar.sidebar-right::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}


/* weekly Report Css start */

#weekButton a {
    font-size: 30px;
    color: black;
    text-decoration:none
}

#weekButton {
    text-align: right;
}
#calender {
    padding: 15px;
    padding-right: 30px;
    height: 280px;
    border:5px solid;
    margin: 10px;
    border-radius: 20px;
    
}

#image {
    padding: 15px;
    height: 280px;
    border:5px solid;
    margin: 10px;
    border-radius: 20px;
}

#score {

    padding: 15px;
    text-align: center;
    padding-top: 80px;
    height: 280px;

}

#score span {

    font-size: 25px;
    
}

#score input {

    margin-top: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 150px;

}
#score input:focus {

    outline: none;
}
.bottom {
    text-align: center;
}
#good {
    box-sizing: border-box; 
    padding: 10px;
    border:5px solid;
    border-radius: 20px;
    border-color: #d2c5e1;
    
    
}
#good p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}

.writeEval textarea{
    width:100%;
    height:200px;
    border: none;
    font-size: 20px;

}
.writeEval textarea:focus{

     outline: none;

}


#bad {
    box-sizing: border-box; 
    padding: 10px;
    border:5px solid;
    border-color: #d2c5e1;
    border-radius: 20px;
    
    
}

#bad p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}


.year-month {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}


.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    height: 200px;
   
}

.date {
    width: calc(100% / 7);
    padding: 5px;
    text-align: right;

}
/* Weekly Report css end */


/* Monthly Report css start */


#grade {

    padding: 10px;
    margin-bottom: 10px
}
#grade p {
    font-size: 25px; 
    margin: 15px;
}
#grade span {
    
    font-size: 30px;
    border-bottom: 3px solid;
}

#chart {
    margin-top: 30px;
    margin-bottom: 30px;
}

#fail{
    padding: 10px;
    text-align: center;
    
}
#fail button {
    width:80%;
    height: 40px;
    background-color: #560a86;
    color: white;
    font-size: 20px;
    border: none;
}

#fail p:nth-child(1){
    font-size: 30px;
    font-weight: bold;

    
}
#fail p:nth-child(2){
    font-size: 25px;
    
}
#fail p:nth-child(3){
    font-size: 30px;
    
}
#success{
    padding: 10px;
    text-align: center;
    
    
}
#success button{
    width:80%;
    height: 40px;
    background-color: #560a86;
    background-color: #ef6d79;
    color: white;
    font-size: 20px;
    border: none;
}
#success p:nth-child(1){
    font-size: 30px;
    font-weight: bold;

    
}
#success p:nth-child(2){
    font-size: 25px;
    
}
#success p:nth-child(3){
    font-size: 30px;
    
}


/* Monthly Report css end */


/* goal css start */
.cart {
    color: #3D3D3D; 
}
@media (min-width: 760px){
.cart{ width: 550px; } /* 모바일 화면에 맞춰서 변하는거.. 슬쩍.. 넣어봄 */
}
@media (min-width: 1200px){
.cart{ width: 680px; }
}
            
.incart{
    padding-left: 5px;
    padding-bottom: 5px;               
}

.con{
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    width: 38px;
    height: 35px;
            }
            
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.colors{
    text-align: center;
    margin: 10px;
}
.bTitle{
    display: block;
    visibility: 
}
 /* goal css end */


/* goal_set css start */

.goal_set_form input[id="goal_name"]{
    width: 80%;
    margin-bottom: 10px;
}

.goal_set_form input[id="plus_btn"] {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #61019A;
    color: #f2f2f2;
    font-weight: 800;
}

.goal_set_form input[class="routine_name"] {
    width: 72%;
    margin-bottom: 10px;
}

.goal_set_form input[type="radio"], .goal_set_form input[type="checkbox"] {
    display: none;
}

.goal_set_form input[type="radio"] + label {
    display: inline-block;
	border: 1px solid #000000;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: normal;
}

.goal_set_form input[type="checkbox"] + label {
    display: inline-block;
	border: 1px solid #000000;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: normal;
}

.goal_set_form input[type="radio"]:checked + label, .goal_set_form input[type="checkbox"]:checked + label {
    background-color: #61019A;
    color: #f2f2f2;
}


/* goal_set css end */




/* example css start */

.no-drag {
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

/* example css end */



/* bottom.php css start */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contents-wrap {
   min-height:100%;
   position:relative;
   /* footer height */
   padding-bottom:110px;
}

footer {
   width:100%;
   height:110px;
   position:absolute;
   bottom:0;
   background:#F8F8F8;
   color: #969696;
   padding-top:10px;
}

.logout, .bg-mode, .github{
    color: #969696;
}

.logout:hover, .bg-mode:hover, .github:hover{
    color: #969696;
    text-decoration: none;
}

/* bottom.php css end */
