#calender {
    padding: 15px;
    padding-right: 30px;
    height: 280px;
    border:5px solid;
    margin: 10px;
    border-radius: 20px;
    
}

#image {
    padding: 15px;
    height: 280px;
    border:5px solid;
    margin: 10px;
    border-radius: 20px;
}

#score {

    padding: 15px;
    text-align: center;
    padding-top: 80px;
    height: 280px;

}

#score span {

    font-size: 25px;
    
}

#score input {

    margin-top: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 150px;

}
#score input:focus {

    outline: none;
}
.bottom {
    text-align: center;
}
#good {
    padding: 10px;
    border:5px solid;
    margin: 10px;
    border-radius: 20px;
    border-color: #d2c5e1;
    
    
}
#good p{
    font-size: 20px;
    font-weight: bold;
    
}

textarea{
    width:100%;
    height:200px;
    border: none;
    font-size: 20px;

}
textarea:focus{

     outline: none;

}

#bad {
    padding: 10px;
    border:5px solid;
    border-color: #d2c5e1;
    margin: 10px;
    border-radius: 20px;
    
}

#bad p{
    font-size: 20px;
    font-weight: bold;
    
}


.year-month {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}


.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    height: 200px;
   
}

.date {
    width: calc(100% / 7);
    padding: 5px;
    text-align: right;

}
